Data Preprocessing

Import the neccessary libraries

In [50]:
import pandas as pd

Load the dataset

In [51]:
df = pd.read_csv("nba.csv")

Data Inspection

In [52]:
print(df.head().to_string())
print(df.info())

                     PName POS Team  Age  GP   W   L     Min   PTS  FGM   FGA   FG%  3PM  3PA   3P%  FTM  FTA   FT%  OREB  DREB  REB  AST  TOV  STL  BLK   PF    FP  DD2  TD3  +/-
0             Jayson Tatum  SF  BOS   25  74  52  22  2732.2  2225  727  1559  46.6  240  686  35.0  531  622  85.4    78   571  649  342  213   78   51  160  3691   31    1  470
1              Joel Embiid   C  PHI   29  66  43  23  2284.1  2183  728  1328  54.8   66  200  33.0  661  771  85.7   113   557  670  274  226   66  112  205  3706   39    1  424
2              Luka Doncic  PG  DAL   24  66  33  33  2390.5  2138  719  1449  49.6  185  541  34.2  515  694  74.2    54   515  569  529  236   90   33  166  3747   36   10  128
3  Shai Gilgeous-Alexander  PG  OKC   24  68  33  35  2416.0  2135  704  1381  51.0   58  168  34.5  669  739  90.5    59   270  329  371  192  112   65  192  3425    3    0  149
4    Giannis Antetokounmpo  PF  MIL   28  63  47  16  2023.6  1959  707  1278  55.3   47  171  27.5  498  772  64.5   137   605  742  359  246   52   51  197  3451   46    6  341
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PName   539 non-null    object
 1   POS     534 non-null    object
 2   Team    539 non-null    object
 3   Age     539 non-null    int64
 4   GP      539 non-null    int64
 5   W       539 non-null    int64
 6   L       539 non-null    int64
 7   Min     539 non-null    float64
 8   PTS     539 non-null    int64
 9   FGM     539 non-null    int64
 10  FGA     539 non-null    int64
 11  FG%     539 non-null    float64
 12  3PM     539 non-null    int64
 13  3PA     539 non-null    int64
 14  3P%     539 non-null    float64
 15  FTM     539 non-null    int64
 16  FTA     539 non-null    int64
 17  FT%     539 non-null    float64
 18  OREB    539 non-null    int64
 19  DREB    539 non-null    int64
 20  REB     539 non-null    int64
 21  AST     539 non-null    int64
 22  TOV     539 non-null    int64
 23  STL     539 non-null    int64
 24  BLK     539 non-null    int64
 25  PF      539 non-null    int64
 26  FP      539 non-null    int64
 27  DD2     539 non-null    int64
 28  TD3     539 non-null    int64
 29  +/-     539 non-null    int64
dtypes: float64(4), int64(23), object(3)
memory usage: 126.5+ KB
None

Check for missing values

In [53]:
df_missing = df.isnull().sum()
print(df_missing)

PName    0
POS      5
Team     0
Age      0
GP       0
W        0
L        0
Min      0
PTS      0
FGM      0
FGA      0
FG%      0
3PM      0
3PA      0
3P%      0
FTM      0
FTA      0
FT%      0
OREB     0
DREB     0
REB      0
AST      0
TOV      0
STL      0
BLK      0
PF       0
FP       0
DD2      0
TD3      0
+/-      0
dtype: int64

Drop any rows with any missing values

In [54]:
df = df.dropna()

Rename the column for Clarity and Consistency

In [55]:
df.rename(columns={
    "PName":"player",
    "POS":"position",
    "Team":"team",
    "Age":"age",
    "GP":"gp",
    "W":"won",
    "L":"lost",
    "Min":"minutes",
    "PTS":"points",
    "FGM":"fgm",
    "FGA":"fga",
    "FG%":"fg%",
    "3PM":"3pm",
    "3PA":"3pa",
    "3P%":"3p%",
    "FTM":"ftm",
    "FTA":"fta",
    "FT%":"ft%",
    "OREB":"oreb",
    "DREB":"dreb",
    "REB":"reb",
    "AST":"ast",
    "TOV":"tov",
    "STL":"stl",
    "BLK":"blk",
    "PF":"pf",
    "FP":"fp",
    "DD2":"dd2",
    "TD3":"td3",
    "+/-":"+/-"
},inplace=True)

Preview the data

In [56]:
print(df.head().to_string())
print(df.info())

                    player position team  age  gp  won  lost  minutes  points  fgm   fga   fg%  3pm  3pa   3p%  ftm  fta   ft%  oreb  dreb  reb  ast  tov  stl  blk   pf    fp  dd2  td3  +/-
0             Jayson Tatum       SF  BOS   25  74   52    22   2732.2    2225  727  1559  46.6  240  686  35.0  531  622  85.4    78   571  649  342  213   78   51  160  3691   31    1  470
1              Joel Embiid        C  PHI   29  66   43    23   2284.1    2183  728  1328  54.8   66  200  33.0  661  771  85.7   113   557  670  274  226   66  112  205  3706   39    1  424
2              Luka Doncic       PG  DAL   24  66   33    33   2390.5    2138  719  1449  49.6  185  541  34.2  515  694  74.2    54   515  569  529  236   90   33  166  3747   36   10  128
3  Shai Gilgeous-Alexander       PG  OKC   24  68   33    35   2416.0    2135  704  1381  51.0   58  168  34.5  669  739  90.5    59   270  329  371  192  112   65  192  3425    3    0  149
4    Giannis Antetokounmpo       PF  MIL   28  63   47    16   2023.6    1959  707  1278  55.3   47  171  27.5  498  772  64.5   137   605  742  359  246   52   51  197  3451   46    6  341
<class 'pandas.core.frame.DataFrame'>
Index: 534 entries, 0 to 533
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   player    534 non-null    object
 1   position  534 non-null    object
 2   team      534 non-null    object
 3   age       534 non-null    int64
 4   gp        534 non-null    int64
 5   won       534 non-null    int64
 6   lost      534 non-null    int64
 7   minutes   534 non-null    float64
 8   points    534 non-null    int64
 9   fgm       534 non-null    int64
 10  fga       534 non-null    int64
 11  fg%       534 non-null    float64
 12  3pm       534 non-null    int64
 13  3pa       534 non-null    int64
 14  3p%       534 non-null    float64
 15  ftm       534 non-null    int64
 16  fta       534 non-null    int64
 17  ft%       534 non-null    float64
 18  oreb      534 non-null    int64
 19  dreb      534 non-null    int64
 20  reb       534 non-null    int64
 21  ast       534 non-null    int64
 22  tov       534 non-null    int64
 23  stl       534 non-null    int64
 24  blk       534 non-null    int64
 25  pf        534 non-null    int64
 26  fp        534 non-null    int64
 27  dd2       534 non-null    int64
 28  td3       534 non-null    int64
 29  +/-       534 non-null    int64
dtypes: float64(4), int64(23), object(3)
memory usage: 129.3+ KB
None

Save the cleaned data

In [57]:
df.to_csv("nba_cleaned.csv",index=False)
print("Saved Successfully")

Saved Successfully